.jumbotron {
    margin: 0;
    padding: 10px;
    background-color: light-grey;
    border: solid; 
    align-content: center;
    
}
#logo {
    position: left;
}

h1 {
    padding-top: 10px;
    color: red;
    font-size: 80px;
    font-family: Lucida Handwriting, cursive, fantasy, sans-serif;
}

#navbar {
    position: left;
    width: 600px;
    justify-content: space-evenly;
}
#navbar ul{
    list-style: none;
    margin: 0 2px;
    padding: 50;
  }

  
#navbar li {
    display: inline-block;
    padding: 5px 5px;
 }

 .row-content {
    padding-top: 30px;
    padding-bottom: 30p;
    float: center;
    border-bottom: 1px thick;
    width: 700px;
    height: 500px;    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
}
  
.carousel {
    float: center;
    margin: auto;
    width: 500px;
    height: 375px;
}
  
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
}

.site-footer {
    background-image: linear-gradient(black, white);
    padding: 0px;
    justify-content: space-between;
}

h2, p{
    justify-content: center;
    float: center;
    text-align: center;
}
